.cart-items {
  border: 1px solid #ededed;
  background-color: #ededed;
  border-radius: 0.5rem;
}

.cart-items td, .cart-items th {
  padding: 10px;
  text-align: left;
}

.cart-items td {
  background-color: #fff;
}

.cart-items tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}

.cart-items tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}

.remove-from-cart-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.remove-from-cart-button:hover {
  background-color: #cacaca;
}